* {
    margin:0;
    padding:0;
}

html, body {
    background-color: #FFF0F5;
    font-family:'Open Sans Condensed', sans-serif;
    line-height: 1.5;
}

h1.maintitle {
    font-family: 'Amatic SC', serif;
    font-size: 5em;
    text-align: center;
    background: rgba(216, 191, 216, 0.5);
    margin-bottom: 27px;
    margin-top: -30px;
}

a, a:visited {
    text-decoration: none;
}

h1.templatetitle {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
    text-align: center;
    text-decoration: none;
    padding-top:0px;
    margin-top: -27px;
}

main.wrapper, div {
    /*width:97%;*/
    /*margin:auto;*/
    text-align: center;
    color: #2F4F4F;
    font-size: 1.2em;
}

div.imgcenter {
    position:relative;
    text-align: center;
}

div.textcontent {
    position:relative;
}

.hover-img {
    background-color: #708090;
    color: #FFFAFA;
    display: inline-block;
    margin: 8px;
    max-width: 320px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.hover-img * {
    box-sizing: border-box;
    transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
    background-color: rgba(112, 128, 144, 0.5);
    border-top: 32px solid rgba(216, 191, 216, 0.5);
    border-bottom: 32px solid rgba(216, 191, 216, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
}

.hover-img img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    
}

.hover-img:hover:before,
.hover-img:hover:after {
    transform: scale(1);
    opacity: 1;
}

.hover-img:hover > img {
    opacity: 0.7;
}

.hover-img:hover figcaption {
    opacity: 1;
}

p.intro {
    text-align: center;
    position: relative;
    text-justify:inherit;
    text-indent: 50px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    padding:.5em;
}

h2 {
    font-size: 34px;
    margin:30px;
}

p.textpage {
    text-align:justify;
    width: 80%;
    text-indent: 15px;
    font-size: 22px;
    margin-left: 40px;
}

div.about img {
    max-width:30%;
    max-height:30%;
    float:left;
    margin: 10px;
    padding-left:65px;
}

.disclaimer {
    text-align:justify;
    width: 80%;
    text-indent: 15px;
    font-size: 18px;
    margin-left: 40px;
}

div.dot iframe {
    border:0;
    overflow:no;
}

div.g-recaptcha {
    position: relative;
    text-align: left;
}

footer p {
    padding:2em;
    text-align: center;
}

footer a {
    color:darkslategrey;
    text-decoration: none;
}

footer a:hover {
    color:#708090;
    background-color:#DCDCDC;
}

/* START Global Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* END Global Embed Responsively Rules! */

/* PHONE Rules! */
@media all and (max-width:840px) {
    main.wrapper {
        background-color: #FFF0F5;
    }
    div.column {
        width: 70%;
        height:auto;
        padding:10px;
    }
    div.imgcenter img {
        max-width: 100%;
        height:auto;
    }

h1.maintitle {
    font-size: 2em;
}

h1.templatetitle {
    font-size: 1em;
}
}


/* TABLET */
@media all and (min-width:841px) and (max-width:1310px) {

    div.column {
        float: left;
        width: 17.33%;
        padding: 10px;
        margin-left: 70px;
}

/* Clear floats after image containers */
    div.row::after {
        content: "";
        clear: both;
        display: table;
} 
    
h1.maintitle {
    font-size: 3em;
}

h1.templatetitle {
    font-size: 2em;
}
}

/*SOCIAL MEDIA BUTTONS */





